body {
  background-color: orange;
  color: #000080;
  font-family: arial;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 3em;
}
p{
  font-size: 1.5em;
}
mark{
  background-color: lightgreen;
}
var{
  color: blue;
  font-style: italic;
}
sup{
  color: red;
}
