@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora|Quattrocento');

body {
  background-image: url(tess2.jpg);
  color: navy;
  font-family: arial;
}
h1{
  font-size: 8.33em;
  font-family: Cinzel;
  letter-spacing: -0.05em;
}
h2{
  font-size: 2em;
  font-family: Quattrocento;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p{
  font-size: 1.25em;
  font-family: Lora;
}
ol{
  list-style-type: none;
  counter-reset: mycounter;
  padding-left: 0;
}
li:before{
  content: "AMENDMENT " counter(mycounter, upper-roman);
  counter-increment:mycounter;
  margin-left: 2em;
  font-size: 2em;
  font-family: Quattrocento;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
